@model PhotoApp.Models.PhotoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Photo</h4>
<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script> 
}